<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js - basics</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <style>
    .body {
      background-color: #eee;
      max-width: 960px;
      margin: 20px auto;
    }

    p,
    h2,
    h3,
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      background-color: #fff;
      margin: 20px auto;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
    }

    li.fav {
      background-color: #ff9ed2;
      color: white;
    }
  </style>
</head>

<body>
  <h1>hello</h1>
  <div id="app">
    <a :href="url">my portfolio</a>
    <div v-if='showContent'>
      <ul>
        <li v-for='movie in movies' :class="{fav: movie.isFav}">
          <img :src="movie.img" :alt="movie.title">
          <h2>{{movie.title}}</h2>
          <h3>{{movie.author}}</h3>
          <p>Premiere {{movie.premiere}}</p>
        </li>
      </ul>

    </div>
    <button @click='toggleShowContent'>
      <span v-if="showContent">Hide Content</span>
      <span v-else>Show Content</span>
    </button>

  </div>

  <script src="app.js"></script>
</body>

</html>